/*This file goes in /a/boot! Make sure it stays there!*/
.appMan-app{
	background-color: whitesmoke;
	border: 2px outset #dfdfdf;
  	min-height: 50px;
  	position:relative;
}
.appMan-app:active{
  	border-style:inset;
}
.appMan-app-title{
	font-size:13px;
}
.appMan-app-title:first-letter{
	text-transform:capitalize;
}
.appMan-app-description{
	white-space:pre;
  display:block;
}
.appMan-app-type{
  position:absolute;
  bottom:3px;
  right:3px;
}
.appMan-app h3{
	margin: 2px;
    margin-left: 6%;
    margin-bottom: 2%;
    position: sticky;
}
#appMan-appList{
 	padding: 2px;
    border: 1px inset darkgrey;
    max-width: 380px;
}
.appMan-ui-top{
  	position: absolute;
    top: 2px;
    right: 3px;
}