/*This file goes in /a/boot! Make sure it stays there!*/
.appMan-app{
	background-color: whitesmoke;
	border: 2px outset #dfdfdf;
  	min-height: 50px;
  	position:relative;
  	padding: 2%;
}
.appMan-app:active{
  	border-style:inset;
}
.appMan-app-title{
	font-size:13px;
  	margin-left:2%
}
.appMan-app-title:first-letter{
	text-transform:capitalize;
}
.appMan-app-description{
	white-space:pre;
  display:block;
}
.appMan-app-type{
  position:absolute;
  bottom:3px;
  right:3px;
}
.appMan-container h3{
	margin: 2px;
    margin-left: 6%;
    margin-bottom: 2%;
    position: sticky;
}
